{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
 <main class="container">
   <div class="row">
         <div class="col-md-8">
         <h4 class="article-title">Articles recents</h4>
          <div id="articles-list">
                    {% include 'article/list.html.twig' with { articles: articles, leftCol: 5, rightCol: 7 } %}
                </div>
            </div>
         </div>

         <div class="col-md-4">
          <div class="col-xxl-4">
                <div class="position-sticky" style="top: 2rem;">
                    {% include 'widget/about.html.twig' %}
                    {% include 'widget/categories.html.twig' %}
                </div>
            </div>
         </div>
   </div>
    
</main>
{% endblock %}
