{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}<br/>
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/image/cartes-localisation.jpg" height="250" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>Position géographique</strong></h5>
        <p class="card-text ">Situé sur la rive gauche du fleuve Sénégal, à 45 km de la ville de Matam, Dondou est un village de la région de Matam, département de Matam, arrondissement de Ogo, communauté rurale de Bokidiawé. Comme la majeure partie des villages de la vallée, il se trouve sur un bourrelet de berge qui le met à l'abri des innondations intervenant en periode hivernale lorsque les pluies sont exceptionnellement abondantes.<br/>Le village de Dondou est limité:<br/>
        <ul>
	                 <li> Au nord par le village de Diéol ;</li> 
                     <li>Au sud par le village de Aly Woury ; </li>
                     <li> A l’ouest par les villages de Mow et Gawdal ;</li>
                     <li> A l’est par la Mauritanie (Dahira) ;</li>
		    	 </ul> 
					Les activités exercées sont des travaux champêtres, de gardiennage, marchands ambulants, charretiers (pour les hommes), tandis que les femmes s'activent dans les tâches de la ménagère, de vente de poissons ou de légumes. Il se trouve dans la zone de « Daandé Maayo ». La majeure partie des terroirs de cette zone sont très enclavés et sont à la limite marginalisés en termes de développement et connaissent un taux de pauvreté très élevé. C’est une zone de forte émigration des jeunes, l’apport de leurs ressortissants établis en France et un peu partout dans le monde participe au développement du village. Ils ont contribué à la construction de postes de santé, à la réhabilitation d’écoles, de salle informatique, de case des tout-petits, de bureau de poste, à l’approvisionnement de l’eau potable, en plus du soutien direct social, économique et scolaire de leurs familles ; leur apport reste déterminant dans la survie des populations.
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Aujourd'hui le : <strong> {{ 'now'| date ('d M Y à H : i : s') }}</strong></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/image/population-dondou.jpg" height="250" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>La population de Dondou</strong></h5>
        <p class="card-text">La population de Dondou est estimée aujourd'hui à dix mille habitants (10 000) avec un taux d’accroissement de 420 naissances par an, descendants de plusieurs vagues d'immigration provenant pour l'essentiel du Mali et du Nord (Walo, Saint Louis). La population est jeune et majoritairement féminine. Comme la plupart des villages du fouta, Dondou est une zone de forte émigration. Elle est orientée vers les villes de l’ouest du pays mais aussi vers l’extérieur. L’Europe occidentale, l’Amérique et les pays d’Afrique centrale constituent les principaux foyers d’attraction.<br><br>
				  En effet, les ressortissants de Dondou en France constituent la plus grande communauté dans le département des Yvelines notamment dans la ville de Mantes la Jolie. Il est important de souligner que la présence de ces ressortissants en France est le résultat de plusieurs vagues d’immigration dont l’essentiel s’est produit pendant les trente glorieuses, lorsque l’économie française avait besoin de main d’œuvre, en particulier dans les usines. C’est donc souvent vers les zones industrialisées et urbanisées que ces ressortissants ont en général convergé.  Ils sont répartis principalement en Île de France (Paris et Mantes la Jolie), en Normandie (Évreux, Cléon, Elbeuf, Rouen, Pitres et le Havre) et enfin dans l’Eure et Loire (Dreux).  Les résultats du recensement mené récemment par l’Association montre qu’il y’a au total <strong>1 549</strong> ressortissants de Dondou en France.  On enregistre dans la région de Normandie <strong>1 108</strong> ressortissants, 37 dans l’Eure et Loire, 404 dans la région Ile de France. La ville de Mantes la Jolie, à elle seule, abrite <strong>367</strong>ressortissants de Dondou..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Aujourd'hui le : <strong> {{ 'now'| date ('d M Y à H : i : s') }}</strong></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/image/cadre-economique.jpg" class="card-img-top" height="250" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>Le cadre économique</strong></h5>
        <p class="card-text">Les ressources du village proviennent essentiellement de l’agriculture, de la pêche, de l’élevage mais aussi des envoies de devises des  nombreux ressortissants établis particulièrement en France et dans d’autres pays d’Europe (Italie, Espagne), d’Amérique et d’Afrique (Gabon, Côte d’Ivoire, Congo) .<br><br>
				  L’agriculture est essentiellement portée  sur la riziculture  avec plus de 10 GIE d’agriculteurs qui exploitent des domaines aménagés par le PRODAM et la SAED sur des superficies  d’environs 400 hectares et des centaines d’hectares emblavables. En plus on y pratique le maraichage ainsi que la culture de crue et de décrue avec des variétés comme le mil, le mais, le niébé etc.<br><br>
				  La pêche connait un recule regrettable pour un village de pêcheurs. Les mises à terre sont très modestes et leur évolution inversement proportionnelle à la croissance démographique, d’où un taux de dépendance de plus en plus élever. L’élevage y est extensif. Il est constitué de bovins, d’ovins, de caprins, d’arsins et d’équins. Ce n’est pas un élevage commercial même si celui-ci est entrain de connaitre un réel essor. Il est plutôt orienté vers la satisfaction des besoins domestiques.<br><br>
				  Le commerce  connait un réel essor et reste dominé par des commerçants baol baol qui contrôlent  les boutiques. Le petit commerce est aussi pratiqué par les femmes comme activité d’appoint. L’essentiel des activités commerciales se pratique au marché de Dondou construit par ses ressortissants en France .</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"> Aujourd'hui le : <strong> {{ 'now'| date ('d M Y à H : i : s') }}</strong></small>
      </div>
    </div>
  </div>
</div><br/>
</div>
{% endblock %}
