{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}<br/>
<div class="container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h3>Réinitialiser votre mot de passe</h3>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.username) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Réinitialiser mot de passe</button>
    {{ form_end(requestForm) }}
     </div><br/>
{% endblock %}
