{% set username = comment.user.username %}
<div class="comment mb-5"  id="{{ comment.id }}">
   <div class="card">
      <div class="card-body">
         <h5 class="card-title">
                <a class="text-decoration-none" href="#">
                    Ajouté par : <span class="comment-author"> {{ username }}  </span>
                </a>
            </h5>
            <strong>Le {{ comment.createdAt|date('d M Y à H : i : s') }}</strong>
            <p clas="card-text">{{comment.content}}</p>
      </div>
   </div>
</div>
