{% extends 'base.html.twig' %}

{% block title %}Vidéos{% endblock %}

{% block body %}
{% include('inc/slides.html.twig') %}<br/>
 <div class="container mt-5 mb-5" style="max-width: 800px;">
        <div class="row">
            <div class="card p-3">
                <div class="col">
                
                    {{ form(form, { attr: {'id': 'form_video' } }) }}
                </div>
            </div>
        </div>
    </div>
   
    
{% endblock %}
